{% extends 'base.html' %}

{% block title %}{{ title }} - Organization
Management{% endblock %}

{% block content %}
<div class="content-header">
  <h1><i class="fas fa-receipt"></i> {{ title }}</h1>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">Expense Information</div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">{{ form.date.label }}</label>
              {{ form.date }}
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">{{ form.category.label }}</label>
              {{ form.category }}
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">{{ form.description.label }}</label>
            {{ form.description }}
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">{{ form.amount.label }}</label>
              {{ form.amount }}
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">{{ form.paid_to.label }}</label>
              {{ form.paid_to }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label">{{ form.payment_method.label }}</label>
              {{ form.payment_method }}
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">{{ form.receipt_number.label }}</label>
              {{ form.receipt_number }}
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">{{ form.notes.label }}</label>
            {{ form.notes }}
          </div>
          <div class="d-flex justify-content-between">
            <a href="{% url 'expense_list' %}" class="btn btn-secondary"
              ><i class="fas fa-times"></i> Cancel</a
            >
            <button type="submit" class="btn btn-danger">
              <i class="fas fa-save"></i> Save Expense
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
